@import 'base.scss';

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-black-35;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inner {
  position: relative;
  background-color: $color-white;
  width: getColumns(15, $bp-small);
  height: auto;
  max-height: calc(100vh - 60px);
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  @include medium {
    width: getColumns(12, $bp-medium);
    max-height: calc(100vh - 60px);
  }
  @include large {
    width: getColumns(28, $bp-large);
    flex-direction: row;
    max-height: calc(100vh - 140px);
  }
}
.closeBtn {
  position: absolute;
  top: 20px;
  right: getColumns(1, $bp-small);
  width: 13px;
  height: 13px;

  @include medium {
    top: 45px;
    right: getColumns(1, $bp-medium);
    width: 20px;
    height: 20px;
  }

  @include large {
    right: getColumns(1, $bp-large);
  }
}
.section {
  width: 100%;
  padding: 30px getColumns(1, $bp-small);
  @include medium {
    padding: 45px getColumns(1, $bp-medium);
  }
  @include large {
    padding: 45px getColumns(1, $bp-large);
  }
}
.product {
  margin: 0 0 25px;
  width: 100%;
  @include medium {
    margin: 0 0 40px;
    width: getColumns(6.5, $bp-medium);
    &:last-child {
      margin-left: getColumns(1, $bp-medium);
    }
  }
  @include large {
    width: getColumns(7, $bp-large);

    &:last-child {
      margin-left: getColumns(1, $bp-large);
    }
  }
}
